@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?wd2iq7');
    src:  url('fonts/icomoon.eot?wd2iq7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?wd2iq7') format('truetype'),
      url('fonts/icomoon.woff?wd2iq7') format('woff'),
      url('fonts/icomoon.svg?wd2iq7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gamepad:before {
    content: "\e900";
  }
  .icon-spotify:before {
    content: "\ea94";

  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-github:before {
    content: "\eab0";
  }
  

@mixin adal {
    background: linear-gradient(red,rgb(46, 45, 45));
    width: 80%;
    margin: 0 auto;
}

body{
    @include adal;
}

header {
    color: rgb(0, 96, 185);
   
}

.dalkar{
    display: grid;
    grid-template-columns: 1fr;
}

.card{
    margin: 1em;
}

.smedia{
  position: fixed;
  top: 150px;
  right: 50px;
}

@media screen and (min-width: 800px){
    .dalkar{
            display: grid;
            grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1400px){
    .dalkar{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
    }
}

